body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    padding: 0 2rem;
}

@media (max-width: 320px) {
    body {
        justify-content: flex-start;
    }
}
