.card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow: hidden;
}

.stats {
    position: relative;
    height: 3rem;
    overflow: hidden;
}

.followers,
.likes,
.photos {
    position: absolute;
    width: 33.33%;
}

.followers {
    left: 0;
}

.likes {
    left: 50%;
    transform: translateX(-50%);
}

.photos {
    right: 0;
}

@media (max-height: 390px) {
    .card {
        top: 0;
        transform: translateX(-50%);
    }
}

@media (max-width: 320px) {
    .card {
        left: 0;
        transform: translate(0, -50%);
    }
}

@media (max-width: 320px) and (max-height: 390px) {
    .card {
        left: 0;
        top: 0;
        transform: none;
    }
}
