.vehicle_card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    height: 28rem;
}

.vehicle {
    width: 33.33%;
}

.sedans {
    position: absolute;
    left: 0;
}

.suvs {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.luxury {
    position: absolute;
    right: 0;
}

@media (max-height: 471px) {
    .vehicle_card {
        top: 0;
        transform: translateX(-50%);
    }
}

@media (max-width: 800px) {
    .vehicle_card {
        position: unset;
        transform: none;
        width: 85vw;
    }
    .vehicle {
        position: unset;
        transform: none;
        width: auto;
    }
}
