body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#results_and_summary_card {
    display: flex;
}

#results {
    display: flex;
    flex-direction: column;
}

#results_header {
    align-self: center;
}

#circle {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#rating {
    align-self: center;
}

#percentile {
    text-align: center;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 1.5rem;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 7px;
}

.left_section,
.right_section {
    display: flex;
    align-items: center;
}

pre {
    display: inline;
}

@media (max-width: 656px) {
    #results_and_summary_card {
        flex-direction: column;
    }

    #results {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}

@media (max-width: 320px) {
    body {
        justify-content: flex-start;
    }
}

@media (max-width: 656px) and (max-height: 768px) {
    #results {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
