#results_and_summary_card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 41rem;
    height: 24rem;
}

#results,
#summary {
    display: inline-block;
    position: absolute;
    top: 0;
    width: 20.5rem;
    height: 24rem;
}

#results {
    left: 0;
    text-align: center;
    padding-top: 5rem;
}

#results_header {
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
}

#circle {
    padding-top: 2rem;
    margin: auto;
    text-align: center;
}

#summary {
    right: 0;
}

ul {
    margin-bottom: 1.5rem;
}

li {
    padding: 7px 7px;
    margin-bottom: 10px;
}

.left_section {
    display: inline;
}

img {
    margin-right: 5px;
}

.right_section {
    display: inline;
    position: absolute;
    right: 7px;
    transform: translateX(-50%);
}

pre {
    display: inline;
}

@media (max-height: 384px) {
    #results_and_summary_card {
        top: 0;
        transform: translateX(-50%);
    }
}

@media (max-width: 656px) {
    #results_and_summary_card {
        width: 300px;
        height: 768px;
    }

    #results {
        left: 0;
        right: 0;
        width: 300px;
    }

    #results {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    #summary {
        width: 300px;
        left: 0;
        top: unset;
        right: 0;
        bottom: 0;
    }
}

@media (max-width: 320px) {
    #results_and_summary_card {
        left: 0;
        transform: translateY(-50%);
    }
}

@media (max-width: 656px) and (max-height: 768px) {
    #results_and_summary_card {
        top: 0;
        transform: translateX(-50%);
    }

    #results {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

@media (max-width: 320px) and (max-height: 768px) {
    #results_and_summary_card {
        left: unset;
        top: unset;
        transform: none;
    }
}
