body {
    display: grid;
    place-items: center;
}

.product_card {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main_image {
    width: 100%;
}

.price_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 620px) {
    .product_card {
        grid-template-columns: 1fr;
        width: 85vw;
        margin: min(1rem, 1vh) auto;
    }

    .main_image {
        min-height: 200px;
        max-height: 50vh;
        object-fit: cover;
        object-position: 100% 30%;
    }

    .price_section {
        grid-template-columns: auto 1fr;
    }
}
