.card_section {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: auto;
    margin: auto;
}

.center_column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
}

.image_container {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
}

@media (max-width: 1040px) {
    .card_section {
        flex-direction: column;
    }
}
