body {
    display: table;
    width: 100%;
}

main {
    display: table-cell;
    vertical-align: middle;
}

.vehicle_card {
    display: table;
    margin: auto;
}

.vehicle {
    display: table-cell;
}

@media (max-width: 800px) {
    .vehicle {
        display: block;
    }
}
