@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
    --white: hsla(0, 0%, 100%, 1);
    --light-gray: hsla(212, 45%, 89%, 1);
    --grayish-blue: hsla(220, 15%, 55%, 1);
    --dark-blue: hsla(218, 44%, 22%, 1);
}

* {
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background-color: var(--light-gray);

    /* Extended by: table.css, flexbox.css, grid.css */
}

.card {
    min-width: 300px;
    max-width: 315px;
    background-color: var(--white);
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.1);

    /* Extended by: table.css, float.css, position.css, flexbox.css, grid.css  */
}

.card > img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 15px;
}

.card > h1 {
    color: var(--dark-blue);
    font-weight: 700;
    margin-bottom: 15px;
}

.card > p {
    color: var(--grayish-blue);
    font-weight: 400;
}

@supports (min-height: 100svh) {
    body {
        min-height: 100svh;
    }
}
