#order_summary {
    text-align: center;
    margin: auto;
}

.plan_summary {
    overflow: hidden;
}

.plan_summary > img {
    float: left;
    margin-top: 0.25rem;
    margin-right: 1rem;
}

.stack {
    float: left;
}

.plan_summary > a {
    float: right;
    margin-top: 0.8rem;
}
