body {
    display: table;
    width: 100%;
}

main {
    display: table-cell;
    vertical-align: middle;
}

.shoutout,
.stars {
    vertical-align: middle;
    display: table-cell;
}

.stars {
    width: 100%;
}

.starcard2 {
    margin: 1rem auto;
}

.starcard3 {
    margin-left: auto;
}

.review {
    margin-top: 4rem;
}

.review_card {
    /* It doesn't seem possible to get the layout right for the .review_card(s) without modifying the HTML, which I am not willing to do in this case. */
    display: table-cell;
}

/* TODO: Mobile */

/* @media (max-width: 1024px) {
    .container {
        width: 100%;
    }

    .shoutout {
        display: block;
        text-align: center;
        width: 100%;
    }

    .shoutout > h2,
    .shoutout > p {
        width: 100%;
        min-width: 300px;
        margin: auto;
    }

    .shoutout > p {
        margin: auto;
    }

    .stars {
        display: block;
        width: 100%;
    }
    .starcard {
        width: 100%;
        margin: auto;
        margin-bottom: 0.5rem;
        text-align: center;
    }

    .starcard > span {
        display: block;
    }
    .review,
    .review_card {
        display: block;
        margin: auto;
    }
} */
