body {
    display: table;
    width: 100%;
    text-align: center;
}

main {
    display: table-cell;
    vertical-align: middle;
}

.results_and_summary_card {
    display: inline-table;
}

.results,
.summary {
    display: table-cell;
    width: 50%;
    text-align: center;
}

.circle {
    display: table;
    margin: auto;
    margin-bottom: 1.5rem;
}

.result {
    /* Couldn't figure out how to make the table-cell elements stack vertically how I wanted, so i used margin-top as a positioning hack. */
    margin-top: 2rem;
}

.summary_header {
    text-align: left;
}

.summary_breakdown {
    display: table;
}

ul {
    margin-bottom: 30px;
}

li {
    padding: 10px;
    margin-bottom: 15px;
}

.left_section {
    display: table;
    text-align: left;
}

img {
    display: table;
    margin-right: 5px;
}

.left_section span {
    display: table-cell;
    vertical-align: middle;
}

.right_section {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}

pre {
    display: inline;
}

@media (max-width: 600px) {
    /* Getting some weird responsiveness... works as expected at 600px breakpoint, but doesn't return at 601px, rather 616px... ?? */
    .results_and_summary_card {
        display: table;
        width: 300px;
        margin: auto;
    }

    .results,
    .summary {
        display: block;
        width: 100%;
    }
}
