#order_summary {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.plan_summary {
    position: relative;
    height: 5.375rem;
}

.plan_summary > img {
    position: absolute;
    left: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
}

.stack {
    position: absolute;
    left: 5rem;
    top: 50%;
    transform: translateY(-50%);
}

.plan_summary > a {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
}

/* This handles responsiveness, but not accessibility... */

@media (max-height: 596px) {
    #order_summary {
        top: 0;
        transform: translateX(-50%);
    }
}

@media (max-width: 300px) {
    #order_summary {
        left: 0;
        transform: translateY(-50%);
    }
}

@media (max-width: 300px) and (max-height: 596px) {
    #order_summary {
        top: 0;
        left: 0;
        transform: none;
    }
}
