body {
    display: grid;
    place-items: center;
}

.grid {
    display: grid;
    grid-template-areas:
        "card1 card1 card2 card3"
        "card4 card5 card5 card3";
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.card1 {
    grid-area: card1;
}

.card2 {
    grid-area: card2;
}

.card3 {
    grid-area: card3;
}

.card4 {
    grid-area: card4;
}

.card5 {
    grid-area: card5;
}

.card_bio {
    display: grid;
    grid-template-areas:
        "pic name"
        "pic verified";
    grid-template-columns: auto 1fr;
    column-gap: 1rem;
}

.card_bio > img {
    grid-area: pic;
}

.card_bio > h2 {
    grid-area: name;
}

.card_bio > h3 {
    grid-area: verified;
}

@media (max-width: 1100px) {
    .grid {
        display: block;
        width: 85vw;
        min-width: 300px;
        margin: min(1rem, 1vh) auto;
    }

    .card {
        padding: 1rem;
        box-shadow: none;
        margin: auto;
        margin-bottom: 1rem;
    }
}
