.card {
    margin: auto;
}

.price_time {
    /* Create new block formatting context. */
    overflow: hidden;
}

.creator_blurb {
    /* Create new block formatting context. */
    overflow: hidden;
}

.price > img,
.price > span,
.time > img,
.time > span {
    vertical-align: middle;
}

.time {
    float: right;
}

.creator_blurb > img {
    vertical-align: middle;
}

.creator_blurb > p {
    display: inline;
}
