body {
    display: grid;
    place-items: center;
}

.product_card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
}

.main_image {
    width: 100%;
    height: auto;
}

.summary_section {
    /* Use these properties in combination with margins for exact positioning. */
    display: grid;
    grid-template-rows: 1fr;
    gap: 0.5rem;
}

.price_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
