.product_card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.image_section,
.summary_section {
    position: absolute;
    width: 50%;
}

.image_section {
    left: 0;
}

.main_image {
    width: 100%;
}

.summary_section {
    right: 0;
}

.price_section {
    position: relative;
    /* A limitation: manually setting the height. A better solution would be to set .discount-price and .original-price to display: inline... but the point of this is to use position in order to find its capabilities and limitations. I don't know of another way to make .price_section not collapse to 0 height... I tried overflow: hidden but it didn't do what I wanted. */
    height: 2.2rem;
}

.discount_price {
    position: absolute;
    top: 0;
    left: 0;
}

.original_price {
    position: absolute;
    top: 0;
    right: 0;
}
