@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Outfit:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&display=swap");

:root {
    /* Primary */
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    /* Neutral */
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

*,
:before,
:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100svh;
    background-color: var(--cream);
}

.product_card {
    width: 38rem;
    height: 26rem;
    background-color: var(--white);
    border-radius: 10px;
}

/* .image_section img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
} */

.main_image {
    display: block;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.summary_section {
    padding: 2rem;
}

.summary_section header {
    color: var(--dark-grayish-blue);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    margin-bottom: 1rem;
}

.summary_section h1 {
    color: var(--very-dark-blue);
    font-family: "Fraunces", serif;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 1em;
}

.summary_section > p {
    color: var(--dark-grayish-blue);
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.5em;
    margin-bottom: 1rem;
}

.summary_section .price_section {
    margin-bottom: 1rem;
}

.discount_price {
    color: var(--dark-cyan);
    font-family: "Fraunces";
    font-size: 1.75rem;
    font-weight: 700;
}

.original_price {
    color: var(--dark-grayish-blue);
    font-family: "Montserrat";
    font-weight: 500;
    text-decoration: line-through;
    padding-top: 0.35em;
    padding-left: 1em;
}

button {
    background-color: var(--dark-cyan);
    color: var(--white);
    width: 100%;
    height: 3rem;
    font-family: "Montserrat";
    font-weight: 700;
    border: none;
    border-radius: 10px;
}

button:hover {
    /* background-color: hsla(var(--dark-cyan) / 0.5); */
    background-color: hsl(158, 36%, 25%);
    cursor: pointer;
}

@media (max-width: 375px) {
    .product_card {
        margin: 1rem;
    }

    .image_section img {
        height: 15.6rem;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }
}
