body {
    display: table;
    width: 100%;
}

main {
    display: table-cell;
    vertical-align: middle;
}

.product_card {
    display: table;
    margin: 0 auto;
}

.image_section,
.summary_section {
    display: table-cell;
    width: 50%;
}

.image_section {
    vertical-align: middle;
}

.main_image {
    max-width: 100%;
}

header,
h1,
p,
.price_section {
    margin-bottom: 1.75rem;
}

.price_section {
    display: table;
}

.discount_price {
    display: table-cell;
}

.original_price {
    display: table-cell;
    vertical-align: middle;
    padding-left: 1rem;
}
